.personnel__wrapper {
	display: flex;
	flex-direction: column;
}

.employee__information {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.employee {
	padding: 2em;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 1.8em;
}

.personnel__department {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: 100px 0 15px 0;
}

.employee__avatar {
	border: 3px solid black;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	max-width: 175px;
	width: 175px;
}

.employee__position {
	font-size: 120%;
}
